.card {
  background: #fff;
  border-radius: 2px;
  height: 150px;
  width: 150px;
  margin: 1rem;
  padding: 5px;
  position: relative;
  box-shadow: 0 2px 9px 1px #999;
  background:#6CADDC;
  transition: .3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0px 12px 2px #FFEB3B;
  cursor: pointer;

}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card > .img-container > img {
  height: 80%;
}

.card > .img-cotainer > img:hover {
  height: 90%;
}
